@model IEnumerable<BrainWare.Models.Order>

<div class="jumbotron">
    <h1>BrainWare Orders</h1>
    <p class="lead">This is the BrainWare orders page! Welcome</p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Your Orders</h2>
        <div id="orders"></div>
    </div>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-3">


        @foreach (var item in Model)
        {
            <div class="row">
                @item.Description
                <ul>
                    @foreach (var p in item.Orderproducts)
                    {
                        string lineItem = $"{p.Product.Name} ${p.Product.Price}";
                        
                        <li>@lineItem</li>
                    }
                </ul>
            </div>
        }

    </div>
</div>